@import 'tailwindcss';

:root {
	--background: #0a0a0a;
	--foreground: #ededed;

	/* Custom Accent Colors */
	--primary: #10b981; /* Emerald 500 */
	--primary-hover: #059669; /* Emerald 600 */
	--secondary: #3b82f6; /* Blue 500 */
	--accent: #8b5cf6; /* Violet 500 */
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);
	--color-secondary: var(--secondary);
	--color-accent: var(--accent);
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}
